* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    box-sizing: border-box;
}

header {
    background-color: #262626;
}

body {
    background-color: #262626;
}

section {
    padding: 2rem;
    background-color: #000;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.navbar {
    height: 10vh;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin: 0;
    text-transform: uppercase;
}

.logo {
    font-size: 2rem;
}

.logo i {
    padding: 0 1rem;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: rgb(219, 235, 0);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    color: #fff;
    font-size: 30px;
}

.bar:hover {
    color: rgb(219, 235, 0);
}

@media(max-width:852px) {
    .hamburger {
        display: block;
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        right: 0;
    }
}

.agenda {
    padding: 2rem 2rem 0 2rem;
    display: flex;
    text-align: center;
    background-image: url(../assets/20580786.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    min-height: 75vh;
}

.agenda-text {
    max-width: 50%;
}

.agenda-image {
    align-self: flex-end;
}

#tioNeto {
    max-width: 60%;
    height: auto;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .agenda {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .agenda-text {
        max-width: none;
        width: auto;
    }

    #tioNeto {
        max-width: 100%;
    }

    .gallery {
        display: none;
        flex-wrap: wrap;
    }

    .gallery-mobile {
        max-width: 768px;
        overflow: hidden;
        display: block;
    }

    .banner-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .banner-list li {
        flex: 0 0 100%;
    }

    .banner-list li img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        border: 1px solid #fff;
    }

    .event-box {
        min-width: 100%;
    }

    .bio-box {
        margin: 0 auto;
        min-width: 100%;
    }
}

.agenda-image {
    display: flex;
    justify-content: flex-end;
    object-fit: cover;
}

.agenda p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.agenda .btn {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    background-color: rgb(219, 235, 0);
    border: none;
    color: black;
    cursor: pointer;
    transition: 0.3s;
}

.agenda .btn:hover {
    background-color: #BE9669;
}

.agenda .btn:active {
    background-color: #fff;
}

.biography {
    text-align: center;
    height: auto;
}

.biography h2 {
    color: rgb(219, 235, 0);
}

.bio-box {
    margin: 0 auto;
    width: 70%;
}

.bio-box h1 {
    font-size: 1.6rem;
}

.bio-box p {
    display: flex;
    width: 100%;
    text-align: justify;
    font-size: 1.2rem;
}

#events {
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(45deg, rgba(211,211,211,1) 0%, rgba(155,170,175,1) 35%, rgba(65,90,100,1) 100%);
}

.event-box {
    width: 70%;
    margin: 0 auto;
    padding: 2rem 0;
    text-align: left;
}

.event {
    display: flex;
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 50px;
    transition: 0.5s;
    align-items: center;
    justify-content: space-between;
    background-color: #262626;
}

.event .btn {
    width: 30%;
    margin: 0 16px;
    padding: 2rem;
}

.event-text {
    flex: 2;
    padding-right: 1rem;
}

.event-text h3 {
    font-size: 1.5rem;
    color: rgb(219, 235, 0);
}

.event-text p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.event-date {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    flex-direction: column;
}

.event-date p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.event-date .btn {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s;
}

.shows {
    text-align: center;
}

.shows h2 {
    color: rgb(219, 235, 0);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content:baseline;
    gap: 1rem;
}

.gallery img {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}

.card-img {
    flex: 1 0 200px;
}

.gallery-mobile {
    display: none;
}

@media (max-width: 768px) {
    .agenda {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .agenda-text {
        max-width: none;
        width: auto;
    }
    #tioNeto {
        max-width: 100%;
    }
    .gallery{
        display: none;
    }

    .gallery-mobile {
        max-width: 768px;
        overflow: hidden;
        display: block;
      }
      
      .banner-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        transition: transform 0.5s ease-in-out;
      }
      
      .banner-list li {
        flex: 0 0 100%;
      }
      
      .banner-list li img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        border: 1px solid #fff;
      } 
      .bio-box{
        min-width: 100%;
      }
}

.formulary {
    padding: 2rem;
    background-color: #262626;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
}
.formulary h3{
    text-align: center;
}
.formulary .card {
    margin-bottom: 1rem;
}

.formulary input, 
.formulary textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #000;
}


.formulary textarea {
    height: 100px;
}

.formulary input[type="submit"] {
    background-color: rgb(219, 235, 0);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formulary input[type="submit"]:hover {
    background-color: #BE9669;
}

footer {
    text-align: center;
    padding: 2rem;
    background-color: #000;
}

footer h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

footer .social-media a {
    color: #fff;
    font-size: 2rem;
    margin: 0 0.5rem;
    transition: color 0.3s;
}

footer .social-media a:hover {
    color: rgb(219, 235, 0);
}

footer p {
    font-size: 1rem;
    margin-top: 1rem;
}

footer a {
    color: rgb(219, 235, 0);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/*login css*/
.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    background-color: #000;
    border: 1px solid #fff;
    color: #000;
}

.login-form input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
}

.login-form button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(219, 235, 0);
    color: white;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #BE9669;
}

/*admin css*/
.admin {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000;
}

.title {
    text-align: center;
    color: #fff;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #000;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(219, 235, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #BE9669;
}