*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    box-sizing: border-box;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/assets/bkimg.jpeg);
}

body{
    background-color: #262626;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}

.navbar {
    height: 10vh;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin: 0;
    text-transform: uppercase;
}

.logo {
    font-size: 2rem;
}

.logo i {
    padding: 0 1rem;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: rgb(219, 235, 0);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    color: #fff;
    font-size: 30px;
}

.bar:hover {
    color: rgb(219, 235, 0);
}

@media(max-width:852px){
    .hamburger{
        display: block;
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        right: 0;
    }
}

.agenda {
    padding: 2rem 2rem 0 2rem;
    text-align: center;
    background-image: url(/assets/bkimg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}

#tioNeto {
    width: auto;
    height: 90vh;
}

@media (max-width: 768px) {
    .agenda {
        flex-direction: column;
        align-items: start;
    }

    #tioNeto {
        width: 100%;
        height: auto;
    }
}

.title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.agenda p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.agenda .btn {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    background-color: rgb(219, 235, 0);
    border: none;
    color: black;
    cursor: pointer;
    transition: 0.3s;
}

.agenda .btn:hover {
    background-color: #BE9669;
}

.agenda .btn:active {
    background-color: #fff;
}

section {
    padding: 2rem;
    background-color: #000;
    color: #fff;
}

.biography{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 0 auto;
}

.biography h2{
    text-align: center;
    color: rgb(219, 235, 0);
}

.bio-box{
    width: 70%;
    margin: 0 auto;
}

.bio-box h1 {
    font-size: 1.6rem;
}

.bio-box p {
    font-size: 1.2rem;
}

#events{
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #69727D;
}

.event-box{
    text-align: left;
}

.event{
    display: flex;
    width: 70%;
    padding: 2rem;
    margin: 50px auto;
    border-radius: 50px;
    background-color: #252525;
}

.event p{
    font-size: 1.6rem;
}

.event-text{
    height: 100%;
    width: 65%;
    padding: 0 1rem;
    border-right: 5px dashed #fff;
}

.event-date{
    height: 100%;
    width: 35%;
    padding: 0 1rem;
}

.shows h2 {
    text-align: center;
    color: rgb(219, 235, 0);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.card-img {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.card-img a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    transition: 0.3s;
}

.card-img img:hover {
    opacity: 1;
    transform: scale(1.1);
}

.contact{
    background-color: #69727D;
}

.contact-up {
    display: flex;
    gap: 1rem;
}

.formulary {
    width: 50%;
}

.card {
    border: none;
    margin-bottom: 1rem;
}

.card input, .enviar input, .card textarea {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    color: black;
    transition: 0.3s;
    border-radius: 0.1rem;
}

.card input, .card textarea {
    width: 100%;
    background-color: #252525;
    color: #fff;
    border: 1px solid #69727D;
}

.card textarea {
    height: 100px;
}

.enviar input {
    background-color: rgb(219, 235, 0);
    cursor: pointer;
}

footer {
    background-color: rgb(219, 235, 0);
    color: #000;
    text-align: center;
    padding: 0.1rem;
}

footer h3 {
    color: #000;
    font-size: 1.5rem;
    margin: 1rem;
}

.social-media a i {
    font-size: 2rem;
    margin: 1rem;
    color: #000;
    transition: 0.3s;
}

.social-media a i:hover {
    color: #fff;
}

footer p {
    color: #000;
}

footer p a {
    color: #fff;
    font-weight: 400;
    font-size: 1.2rem;
    text-decoration: none;
    transition: 0.3s;
}

/*login css*/
.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    background-color:  #000;
    border: 1px solid #fff;
    color: #000;
}

.login-form input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
}

.login-form button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(219, 235, 0);
    color: white;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #BE9669;
}

/*admin css*/
.admin {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000;
}

.title {
    text-align: center;
    color: #fff;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #000;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(219, 235, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #BE9669;
}